body {
    background-color: #0b2442;
}

.header {
    background-color: rgb(210, 0, 0);
}

.list_link {
    color: rgb(255, 255, 255);
}

.span_search {
    background-color: #0B2442;
}

.card-text {
    color: white;
}

.card-title {
    color: white;
}