body {
    background-color: rgba(12, 36, 66, 0.95);
    color: white;
}

.header {
    background-color: rgb(210, 0, 0);
}

.list_link {
    color: rgb(255, 255, 255);
}

.span_search {
    background-color: #fff;
}

.card-text {
    color: white;
}

.card-title {
    color: white;
}

.like {
    background: #0b2442;
}

.nav-color {
    background: #483d8b;
}

.footer-list {
    background: #483d8b;
}

.btn-logo {
    background: #483d8b;
}

.btn-theme {
    background: #483d8b;
}

.card-info {
    border: 1px solid rgb(113, 113, 113);
}