.header {
    background-color: rgb(47, 64, 76);
}

.list_link {
    color: black;
}

.span_search {
    background-color: #fff;
}

.card-title {
    text-decoration: none;
    color: black;
    font-style: bolt;
}

.like {
    background: #fff;
}

.card-info {
    border: 1px solid rgba(186, 186, 186, 0.55);
}