* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    transition: 1s;

}

#heading {
    margin: 4.8% 4.8% 0% 4.8%;
}

.space-text {
    font-size: 12px;
    color: grey;
    margin-left: 4.8%;
}

/* .input-group {
    opacity: .8;
} */

.logo {
    text-align: center;
}

.main {
    height: 100%;
}

.menu-button-icon {
    vertical-align: center;
    align-items: center;
    justify-content: center;
}

.listener {
    padding: 0;
    padding-top: 0;
    width: 100%;
    margin: 16px;
}

.list_link {
    text-decoration: none;
}


.form_search {
    border: 3px;
    width: 80%;
}

.search_btn {
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
}

.terr_search {
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
}


.container-fluid {
    width: 100%;
}

#search_forming {
    width: 73%;
}


.footer {
    position: sticky;
    bottom: 0;
}

.btn-logo {
    border: none;
}

.btn-logo:active {
    border: none;

}

.footer {
    background-color: rgb(13, 110, 253);
    height: 6%;
    width: 100%;
    bottom: 0;
    position: sticky;

}

.footer-list {
    display: flex;
    list-style: none;
    height: 100%;
    padding: 0;
    margin: 0;
    justify-content: space-around;

}

.footer-list li {
    padding-top: 1.5%;
    display: inline-block;
    width: 7%;
}

.footer-list img {
    width: 100%;
    vertical-align: middle;
}

.footer-list a {
    vertical-align: middle;
}



.book {
    color: #fff;
}

.her {
    color: rgb(244, 33, 104);
}

.hedd {
    position: sticky;
    top: 0;
}

.number-list {
    bottom: 4.8%;
    justify-content: center;
    margin-top: 4.8%;
    margin-left: 4.8%;
    margin-right: 4.8%;
}

.card-info {
    width: 90%;
    padding: 4.8%;
    margin-left: 4.8%;
    margin-right: 4.8%;
    margin-top: 2.4%;
    margin-bottom: 2.4%;

    border-radius: 5px;
    box-sizing: border-box;
}

.like {
    border: none;
    /* position: absolute; */
    /* right: 0;
    bottom: 0; */
    margin-left: 70.6%;
}

.like-img {
    height: 20px;
}

.dark-nav {
    background-color: green;
}

.card-bord {
    border: 3px solid #32a1ce;
    margin-right: 4.8%;
    margin-left: 4.8%;
    margin-top: 2.4%;
    margin-bottom: 2.4%;

}

.card-title {
    text-decoration: none;
    color: black;
    font-style: bold;
}

.p-acc {
    margin-bottom: 0;
}

.accord-row {
    border: none;
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 2.4%;
    margin-bottom: 2.4%;
}



.content-hist {
    margin-top: 2.4%;
    margin-right: 4.8%;
    margin-left: 4.8%;
}

.card-hist {
    width: 80%;
    display: inline-block;
}

.img-hint {

    vertical-align: middle;
}

.footer-hist {
    height: 40px;
}

.account {
    margin-left: 4.8%;
    margin-right: 4.8%;
    margin-top: 2.4%;
}

.person-logo-reg {
    width: 30%;
    display: inline-block;
    margin-top: 4.8%;
    margin-left: 35%;
}

.account h4 {
    margin-top: 2.4%;
    text-align: center;
}

.inform {
    width: 100%;
    margin-top: 10%;
}

.left-info {
    box-sizing: border-box;
    width: 50%;
    display: block;
    float: left;
}

.right-info {
    box-sizing: border-box;
    width: 50%;
    display: inline-block;
}

.right-info button {
    float: right;
    margin-right: 18%;
}

.info-second p {
    margin-bottom: 5%;
}

.left-info p {
    padding-top: 5%;
    margin: 0;
    display: inline-block;
    vertical-align: middle;

}

h6 {
    margin: 0;
    margin-top: 10%;
    margin-bottom: 4%;
    text-align: center;
}

.progress {
    width: 70%;
    margin-left: 15%;
}

.bar-prog {
    margin-bottom: 31%;
}

.nav-color {
    background: #046bb5;
}

.footer-list {
    background: #046bb5;
    ;
}

.btn-logo {
    background: #046bb5;
    ;
}

.btn-theme {
    background: #046bb5;
}